<div th:replace="/components/views/Header :: header('Delete ' + ${list.getName()} + ' list', 'board')"></div>
<div th:replace="/components/views/Header :: #app"></div>

<header class="board__header">
    <h1 class="header__user-name"
        th:text="@{ 'Delete: ' + ${list.name} + ' list' }">delete.project.list</h1>
</header>

<section id="new_project" class="new-project-container">
    <form class="new-project-container__form"
          th:action="@{ '/board/project/'
                        + ${project.getToken()}
                        + '/'
                        + ${list.getId()}
                        + '/delete' }"
          method="post">

        <div class="error"
             th:include="/components/Error :: error_container(${errors})"
             th:if="${errors}"></div>

        <input type="hidden" name="token" th:value="${project.token}" />
        <input type="hidden" name="listId" th:value="${list.getId()}" />

        <label for="confirmation">
            <p id="confirmation">
                Are you sure you want to remove this list?
            </p>
        </label>

        <div class="form__actions">
            <button class="button-danger"
                    type="submit">

                DELETE
            </button>
        </div>
    </form>
</section>

<div th:replace="/components/views/Footer"></div>