<div th:replace="/components/views/Header :: header(${project.name}, 'board')"></div>
<div th:replace="/components/views/Header :: #app"></div>

<header class="project__header">
    <h1 class="header__project-name"
        th:text="${project.getName()}">project.name</h1>

    <a th:href="@{ '/board/project/' + ${project.token} + '/edit' }"
       th:if="${isMember}">

        <button class="button-secondary header__edit-button">
            <i class="fa-solid fa-pen"></i>
        </button>
    </a>

    <a th:href="@{ '/board/project/' + ${project.getToken()} + '/delete' }"
       th:if="${isMember}">

        <button class="button-danger header__edit-button">
            <i class="fa-solid fa-trash"></i>
        </button>
    </a>
</header>

<section id="project_lists" class="project__lists-container">
    <div class="lists__empty-project-alert"
         th:if="${!isMember && orderedLists.isEmpty()}">

        <p>
            This project does not have any list. Only members can add.
        </p>
    </div>

    <div class="lists-container__list"
         th:each="list: ${orderedLists}">

        <div class="list__actions"
             th:if="${isMember}">

            <a th:href="@{ '/board/project/'
                            + ${project.getToken()}
                            + '/'
                            + ${list.key.getId()}
                            + '/move/left' }"
               th:if="${list.key.getPosition() > 1}">

                <button class="button-primary">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            </a>

            <a th:href="@{ '/board/project/'
                            + ${project.getToken()}
                            + '/'
                            + ${list.key.getId()}
                            + '/move/right' }"
               th:if="${list.key.getPosition() + 1 < nextPosition}">

                <button class="button-primary">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </a>

            <a th:href="@{ '/board/project/'
                            + ${project.getToken()}
                            + '/'
                            + ${list.key.getId()}
                            + '/edit' }">

                <button class="button-secondary">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </a>

            <a href="">
                <button class="button-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </a>
        </div>

        <header class="list__list-header">
            <h2 class="list-header__title"
               th:text="${list.key.getName()}">list.title</h2>
        </header>

        <div class="list__list-content">
            <a href="#"
               th:each="card: ${list.value}">

                <div class="list-content__card">
                    <h3 class="card__title"
                        th:text="${card.getTitle()}">card.title</h3>

                    <p class="card__description"
                       th:text="${card.getDescription()}">card.description</p>
                </div>
            </a>
        </div>
    </div>

    <div class="lists-container__new-list-container"
         th:if="${isMember}">

        <header class="new-list-container__list-header">
            <h2 class="list-header__title">
                Create a list
            </h2>
        </header>

        <div class="new-list-container__list-content">
            <div class="error"
                 th:include="/components/Error :: error_container(${errors})"
                 th:if="${errors}"></div>

            <form class="list-content__new-list-form"
                  action="/board/project/lists/create"
                  method="post">

                <input type="hidden" name="token" th:value="${project.token}">

                <label for="name">
                    <p>
                        Name:
                    </p>

                    <input id="name"
                           type="text"
                           name="name" />
                </label>

                <label for="position">
                    <p>
                        Position:
                    </p>

                    <select name="position" id="position">
                        <optgroup label="Choose an index:">
                            <option value="1">
                                First of all
                            </option>

                            <option th:value="${list.key.getPosition() + 1}"
                                    th:each="list: ${orderedLists}"
                                    th:text="@{ 'After ' + ${list.key.getName()} }"></option>
                        </optgroup>
                    </select>
                </label>

                <div class="new-list-form__actions">
                    <button class="button-primary"
                            type="submit">

                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<div th:replace="/components/views/Footer"></div>