<div th:replace="/components/views/Header :: header('Create your account!', 'auth')"></div>
<div th:replace="/components/views/Header :: #app"></div>

<div class="form-container">
    <h1 class="form-container__title">
        Create an account
    </h1>

    <div class="error"
         th:include="/components/Error :: error_container(${errors})"
         th:if="${errors}"></div>

    <form class="form-container__form" action="/auth/register/create-account" method="post">
        <label for="firstname">
            <p>
                Firstname:
            </p>

            <input id="firstname"
                   class="large"
                   type="text"
                   name="firstname"
                   th:value="${firstname}" />
        </label>

        <label for="lastname">
            <p>
                Lastname:
            </p>

            <input id="lastname"
                   class="large"
                   type="text"
                   name="lastname"
                   th:value="${lastname}" />
        </label>

        <label for="login">
            <p>
                Login:
            </p>

            <input id="login"
                   class="large"
                   type="text"
                   name="login"
                   th:value="${login}" />
        </label>

        <label for="email">
            <p>
                Email address:
            </p>

            <input id="email"
                   class="large"
                   type="email"
                   name="email"
                   th:value="${email}" />
        </label>

        <label for="password">
            <p>
                Password:
            </p>

            <input id="password"
                   class="large"
                   type="password"
                   name="password" />
        </label>

        <div class="form-container__form__actions">
            <button class="button-primary" type="submit">
                Create your account!
            </button>
        </div>
    </form>
</div>

<div th:replace="/components/views/Footer"></div>